#main {
    position: fixed;
    display: block;
    margin-top: 50px;
    width: 360px;
    left: 50%;
    margin-left: -180px;
    cursor: pointer;
    z-index: 1;
}
.main {
    /*transform: translateZ(0);*/
    animation: fly 3s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes fly {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translate(0, -15px);
      }

    100% {
        transform: translateY(0)
    }
}

body {
    font-family:  fantasy, Arial, Microsoft JhengHei, Helvetica, sans-serif;
    height: 6300px;
    background-repeat: no-repeat;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d9cf4+0,6bdbea+80,6bdbea+100 */
    background: #3d9cf4; /* Old browsers */
    background: -moz-linear-gradient(top, #3d9cf4 0%, #6bdbea 80%, #6bdbea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3d9cf4 0%,#6bdbea 80%,#6bdbea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3d9cf4 0%,#6bdbea 80%,#6bdbea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9cf4', endColorstr='#6bdbea',GradientType=0 ); /* IE6-9 */
}

li {
    list-style-type:none;
    padding: 10px;
}

.fa-heart {
    font-size: 20px;
    color: #fff;
    opacity: 0.7;
}

nav {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 2;
}

.srollHint {
    color: #DDDDDD;
    padding-top: 25%;
    margin-left: -50%;
    text-align: center;
    font-weight: 700;
    /*margin-bottom: 15%;*/
    /*padding-bottom: 4820px;*/
}

.srollHint p {
    font-size: 22px;
}

.arrowDown {
    color: #DDDDDD;
    margin-top: 30px;
    transform: translateZ(0);
    animation: hint 1s infinite;
    /*transition-property: bottom;*/
    transition-duration: 500ms,
    transition-delay: 0, 500ms;
    transition-timing-function: cubic-bezier(0, 0, 0, 1),linear;
}

@keyframes hint {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

.preFace {

    top: calc(100vh - 50px);
    left: calc(100vw - 380px);
    /*margin-left: 70%;*/
    position: absolute;
    /*margin-right: 100px;*/
    /*position: absolute;
    right: 10%;
    bottom: -55px;*/
}
h4 {
    width: 300px;
    line-height: 1.4;
}

h3 {
    font-weight: bold;
    color: 	#7A0099;
}

.learning {
    width: 250px;
}

.firstMet {
    position: absolute;
    top: calc(100vh + 440px);
    left: calc(30px);
    opacity:0;
    /*display: block;
    margin-left: 15%;
    margin-top: 14%;*/
}

.firstTouch {
    position: absolute;
    top: calc(100vh + 1230px);
    left: calc(100vw - 380px);
    opacity: 0;
}

.changed {
    position: absolute;
    top: calc(100vh + 2070px);
    left: calc(30px);
    opacity: 0;
}

.happiness {
    position: absolute;
    top: calc(100vh + 3700px);
    left: calc(30px);
    opacity: 0;
}

.sad {
    position: absolute;
    top: calc(100vh + 2860px);
    left: calc(100vw - 380px);
    opacity: 0;
}

.memory {
    position: absolute;
    top: calc(100vh + 4520px);
    left: calc(100vw - 380px);
    opacity: 0;
}

.final {
    position: absolute;
    top: calc(100vh + 5191px);
    left: calc(30px);
    opacity: 0;
}

.mountain {
    width:100%;
    position: absolute;
    top: calc(100vh + 5155px);
    z-index: -1;

}


.rock {
    animation-name: gogogo;
    animation-duration: 2s infinite;
    /*animation-iteration-count: 3;*/
    animation-timing-function: linear;
}
@keyframes gogogo {
    25% {
      -webkit-transform: rotate(1.5deg);
      -moz-transform: rotate(1.5deg);
      -o-transform: rotate(1.5deg);
      transform: translateY(0px) rotate(1.5deg);
    }

    75% {
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: translateY(-20px) rotate(-3deg);
    }
}
/*.show {
    animation-name: striking;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes striking {
    0% { background-position: 0px -248px; opacity: 1.0; }
    7% { background-position: 0px 0px; opacity: 1.0; }
    10% { opacity: 0.1; }
    100% { opacity: 0.0; }
}*/
@media screen and (max-width:767px) {
    body {height: 5295px;}
    #main{
        position: fixed;
        display: block;
        margin-top: 20px;
        width: 200px;
        height: 240px;
        left: 50%;
        margin-left: -75px;
        z-index: 1;
    }

    .preFace {
        left: calc(30px);

    }
    .moment {
        left: calc(30px);

    }
    .learning {
        width: 150px;
    }
    h4 {
        font-size: 14px;
        width: 200px;
    }
    h3 {
        font-size: 20px;
    }
    .mountain {
        width:100%;
        position: absolute;
        top: calc(100vh + 4605px);

    }
    .firstMet{
        top: calc(100vh + 430px);
    }
    .firstTouch {
        top: calc(100vh + 1080px);
    }
    .changed {
        top: calc(100vh + 1760px);
    }
    .sad {
        top: calc(100vh + 2420px);
    }
    .happiness {
        top: calc(100vh + 3100px);
    }
    .memory {
        top: calc(100vh + 3810px);
    }
    .final {
        top: calc(100vh + 4450px);
    }


}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;

  }

  to {
    transform: translate3d(0, 0, 0);

  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: .5s;
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
  animation-duration: 0.8s;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration: .8s;
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: .5s;
}
@keyframes zoomIn {
  from {

    transform: scale3d(.1, .1, .1);
  }

}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1.5s;
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: .5s;
  animation-fill-mode: both;
}
.hide {
    animation-name: hide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes hide {
  from {

  }

  to {
    opacity: 0;
  }
}
